@font-face {
    font-family: 'inter';
    src: url('../fonts/Inter/static/Inter-Regular.ttf');
}
@font-face {
    font-family: 'inter-bold';
    src: url('../fonts/Inter/static/Inter-Bold.ttf');
}
@font-face {
    font-family: 'inter-smbold';
    src: url('../fonts/Inter/static/Inter-SemiBold.ttf');
}
@font-face {
    font-family: 'inter-light';
    src: url('../fonts/Inter/static/Inter-Light.ttf');
}

body {
    background-color: white;
    font-family: 'inter', sans-serif;
}